* { margin: 0; padding: 0; }
p { padding: 10px; }
 #left { position: absolute; left: 0; top: 0; width: 50%; }
 #right { position: absolute; right: 0; top: 0; width: 50%; } 
.header {
    width: 800px;
    height: 80px;
    text-align: center;
    background-color: #BDBDBD;
}

.footer {
    background-color: #BDBDBD;
    text-align: center;
}

.leftMenu {
    height: 500px;
    background-color: #D8D8D8;
    width: 150px;
}

.mainContent {
    height: 500px;
    background-color: #E6E6E6;
    width: 650px;
}

a{
    display:block;
    padding:5px
}
.btn-6d {
 border: 2px dashed #226fbe;
}
 
.btn-6d:hover {
 background: transparent;
 color: #226fbe;
}